# Exclude .o files
*.o

# Exclude binaries
bin/*

# Exclude VSCode files
.vscode/

# Exclude state files
*.state

# Exclude temporary files
*.tmp

# Exclude BTOR2 files
*.btor2

# Exclude BTOR files
*.btor

# Exclude output files
*.out